body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    height: 100vh;
    background-image: url("https://i.stack.imgur.com/p9mUO.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


header {
    position: sticky;
    top: 0;
}

.max-width {

    padding: 0 80px;

}

.navbar {
    width: 100%;
    font-family: 'Qahiri', sans-serif;
    position: sticky;
    top: 0;
    background-color: black;

}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-decoration: none;



}

.navbar .menu li {
    display: inline-block;
    list-style: none;

}

.menu a:hover {
    color: red;
    transition: color 1s;
    background-color: grey;
}

.navbar .menu li a {
    color: #fff;
    display: flex;
    padding: 6px 10px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    font-family: 'Ruda', sans-serif;
    border-radius: 20px;

}
a:hover{
    color: green;

}

.information {
    margin-left: 8%;
    margin-top: 10%;
    color: #fff9fc;

}

.information h1 {
    font-size: 50px;
    font-family: 'Syncopate', sans-serif;
    color: #ffffff;
    display: flex;

}

.information p {
    font-size: 60px;
    line-height: 22px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Syncopate', sans-serif;
}

.information a {

    text-decoration: none;
    font-weight: bolder;
    border-radius: 20px;
    display: inline-block;
    background-color: #ffffff;
    padding: 15px 25px;

    color: grey;
    font-size: 25px;
    font-family: 'Lexend Zetta', sans-serif;


}

.information span {
    color: #ffffff;
}
aside{




}

.home a a:hover {
    color: darkblue;
}


.inhoud {
    padding: 20px 10%;
    font-weight: 600;
    max-width: 1200px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;

}

.inhoud h1 {
    font-size: 70px;
    font-weight: 600;
    color: white;
    font-family: 'Alfa Slab One', cursive;
}

.inhoud p {
    width: 700px;
    color: white;

}

.inhoud a {
    background: crimson;
    border-radius: 8px;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
}

.inhoud span {
    color: crimson;

}

.contact {
    text-align: center;
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;

}


.list{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    margin-top: 20px;
}
.table1{
    padding: 160px;
    text-align: center;
}
table{
    text-align: center;
    font-weight: 600;
    border: red;



}
table th, td{
    border: 2px solid white;
    font-size: 35px;
    color: white;
}

.collage img{
    height: 200px;
    width: 250px;
    margin-top: 50px;
    border-radius: 20px;
    margin-left: 100px;


}
.contactpage form{
    width: 100%;
    overflow: hidden;
    max-width: 600px;
    color: #ffffff;
    margin: auto;
    font-size: 30px;

}

input[type=text]{
    padding: 20px 40px;
    max-width: 600px;
    width: 100%;
    background: #111;
    color: white;
}
input[type=date]{
    padding: 20px 40px;
    max-width: 600px;
    width: 100%;
    background: #111;
    color: white;
}
input[type=email]{
    padding: 20px 40px;
    max-width: 600px;
    width: 100%;
    background: #111;
    color: white;
}
input[type=submit]{
    max-width: 600px;
    background: darkcyan;
    float: right;
    color: #ffffff;
    padding: 12px 50px;
    border-radius: 15px;
}
.text-opmerking{
    max-width: 600px;
    width: 100%;
    margin: 16px 0;
    padding: 20px 40px;
    background: #111111;
    color: white;
}

.h1CV{
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.arrow{
    text-align: center;
}
.down{
    position: absolute;
    height: 40px;
    width: 40px;
    border-top: 8px solid black;
    border-left: 8px solid black;
    transform: rotate(45deg);
    left: 50%;

    text-align: center;
    top: 50%;
}
.beneden{
    transform: rotate(180deg);
}

.CVbutton{
    background: crimson;
    border-radius: 8px;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    font-size: 30px;

}

.afsluiting{
    padding: 100px 100px;
    font-family: 'Lexend Zetta', sans-serif;
}

.afsluiting h1{
    font-size: 60px;
    color: white;

}

.afsluiting p{
    font-size: 30px;
    color: white;
    max-width: 800px;

}

.afsluiting a{
    padding: 15px 20px;
    background-color: red;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 600;



}

.Opleiding{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: white;

}
.opleiding1{
    padding: 50px 150px;
}
.opleiding1 h2{
  font-size: 60px;

}

.opleiding1 p{
color: #ffffff;
    font-size: 20px;
}